out:  App.css

@p-turk : #38C3DB;
@light-1: #F5F5F5;
@light-2: #EBEDEE;
@light-3: #DEE0E2;
@dark: #000000;
@red: #D05C76;
@red-dark: #B03A5E;

@shadowCard: 0 0 12px 0 rgba(0,0,0,0.03);
@shadowBtn: 0 4px 8px 0 rgba(0,0,0,0.2);
@shadowCoaster: 0 3px 25px 0 rgba(0, 0, 0, 0.2);
@transition: all 0.3s ease-out;

@tabletscreen: ~"only screen and (max-width: 800px)";
@mobilescreen: ~"only screen and (max-width: 415px)";

* {
  padding: 0;
  margin: 0;
  font-family: Roboto-regular, sans-serif;
}

a { text-decoration: none; color: @dark; display: block; }

h1 {
  color: @dark;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 4.5vw;
  line-height: 6vw;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  color: @dark;
  letter-spacing: 2.50px;
  text-align: center;
  padding-top: 3vh;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: @dark;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  color: @dark;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}

p, li {
  font-size: 12px;
  color: @dark;
  text-align: center;
  line-height: 20px;
}

li {
  text-align: left;
}

.accent {
  font-weight: bold;
  font-size: 14px;
  color: @p-turk;
  text-align: center;
  margin-bottom: 10px
}
.left { text-align: left; }
.italic { font-style: italic; }
.center { text-align: center; }
.turk { color: @p-turk; font-family: inherit; }
.hidden { display: none; }
.visible { display: block; }

.btn {
  padding: 12px 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  transition: @transition;
  width: fit-content;
  border: none;
  display: block;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &.btn-primary {
    background-color: @p-turk;
    color: #FFF;
    background-color: #38C3DB;
    color: #FFF;
    margin: 20px auto 0px auto;
  }
  &.btn-secondary {
    width: fit-content;
    margin: 0 auto;
    .material-icons {
      display: block;
    }
  }
  &.btn-arrow {
    color: @dark;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.btn-float {
    padding: 0px;
    background: @red-dark;
    color: #FFF;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 20px;

    position: relative;
    opacity: 1;
    &:hover {
      box-shadow: @shadowBtn;
    }
  }
}

.block {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  .topArrow {
    border-width: 60px 50vw 0 50vw;
    border-style: solid;
    border-color: @light-1 transparent transparent transparent;
  }
  .bottomArrow {
    border-width: 0px 50vw 160px 50vw;
    border-style: solid;
    border-color: transparent transparent @light-1 transparent;
    position: absolute;
    bottom: 0;
    z-index: -1;
    &.left {left: -50% }
    &.right {right: -50% }
  }
}
.light {
  background-color: @light-1;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 6%;
  &.flex {
    display: flex;
    justify-content: space-between;
  }
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  .btn {
    bottom: 2vh;
    position: relative;
  }
}

.coasterSmall {
  color: #FFF;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  margin: 10px auto 20px auto;
  display: block;
  width: fit-content;
  border: solid 3px #fff;
  box-shadow: @shadowCoaster;
}

.rhomboid {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: -34px;
  background: red;
  transform: rotate(45deg);
  .inner {
    transform: rotate(-45deg);
    font-size: 14Px;
    line-height: 26px;
    width: 26px;
    text-align: center;
  }
}

#topBlock {
  background-color: @light-1;
  .vertCenter {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    .container {
      position: relative;
      align-self: center;
      margin: 0;
      .subtitle {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        color: @dark;
      }
    }
    #coaster {  width: 60vw; max-width: 350px;}
  }
  .bottomArrow { border-color: transparent transparent #FFF transparent; }
  #logo {
    width: 100px;
    margin-top: 5vh;
    margin-left: ~"calc(50% - 50px)";
  }
}

#targetsBlock {
  .container {
    margin-top: 10vh;
    .target {
      width: 30%;
      img {
        width: 50%;
        display: block;
        margin: 0 auto 20px auto;
      }
      h4 { margin-bottom: 20px; }
    }
  }
}

#phasesBlock {
  #tabs {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    li {
      position: relative;
      list-style: none;
      width: 25%;
      float: left;
      display: block;
      .rhomboid {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        font-weight: bold;
        color: @red;
        text-align: center;
        margin: 5px auto 10px auto;
        transition: @transition;
      }
      h3 {
        position: relative;
        z-index: 1;
        opacity: 0.5;
        transition: @transition;
      }
      .line {
        border-bottom: solid 2px #FFF;
        margin-left: ~"calc(-50% + 12px)";
        margin-top: 17px;
        position: absolute;
        width: ~"calc(100% - 23px)";
        opacity: 0.6;
        &:after {
          content: "";
          width: 100%;
          opacity: 1;
        }
      }

      &:hover, &.active {
        h3 { opacity: 1; }
      }
      &.active .arrow {
        width: 30px;
        height: 30px;
        background: #FFF;
        transform: rotate(45deg);
        margin-bottom: -24px;
        margin-left: ~"calc(50% - 15px)";
        box-shadow: @shadowCard;
        margin-top: 15px;
      }
      &.active, &.done {
        // .illu { box-shadow: 0 0 15px 0 @light-2; }
        .line {
          border-bottom: solid 2px @red;
          opacity: 1;
          box-shadow: 0 0 15px 0 @light-3;
        }
      }
      &:hover, &.active, &.done { .rhomboid { color: #FFF; background: @red; } }
      &:hover {
        cursor: pointer;
        .illu { box-shadow: @shadowCard; }
      }

    }
  }
  #tabcontent {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: @shadowCard;
    height: ~"calc(100vh - 240px)";
    img { width: 100%; }
    .info {
      position: relative;
      width: 34%;
      margin: -140px auto 0px auto;
      text-align: center;
      min-height: 165px;
    }
  }
}

#servicesBlock {
  .container {
    margin-top: 4vh;
    flex-wrap: wrap;
    .item {
      height: 24vh;
      width: 24%;
      background-color: #FFF;
      box-shadow: @shadowCard;
      margin-bottom: 4%;
      padding: 3%;
    }
  }
}

#pricingBlock {
  .container {
    .item {
      width: 18%;
      border: 4px solid #FFFFFF;
      position: relative;
      display: flex;
      flex-direction: column;
      .rhomboid {
        background-color: @red;
        color: #FFF;
        margin-left: -17px;
        margin-top: 28px;
      }
      .image {
        background-color: #FFF;
        height: 90px;
        img {
          margin: 0px auto 20px auto;
          padding: 10px;
          display: block;
          height: 70px;
        }
      }
      h4 { margin-top: 15px; }
      .content {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        ul {
          margin-top: 14px;
          li {
            list-style: none;
            line-height: 20px;
            margin: 2px 0px 2px 18px;
            .icon {
              font-size: 14px;
              padding-top: 2px;
              margin-left: -18px;
              position: absolute;
            }
          }
        }
        .pricing {
          margin-top: auto;
          margin-bottom: 15px;
          padding-top: 15px;
          p {
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            &.accent {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

#contactBlock {
  h2 { padding-top: 25px; }
  form {
    max-width: 500px;
    margin: 15px auto 25px auto;
    .formItem {
      &.line {
        border-bottom: 2px solid @light-2;
        margin-bottom: 35px;
      }
      label, .value {
        width: 20%;
        color: @dark;
        font-size: 14px;
      }
      input {
        width: 80%;
        border: none;
        margin-left: 10%;
        line-height: 25px;
        font-size: 14px;
        outline: none;
      }
      textarea {
        margin-top: 4px;
        width: 100%;
        min-height: 70px;
        border: 2px solid @light-2;
      }
      .text-help {
        color: @red;
        font-style: italic;
        font-size: 12px;
        float: right;
        margin-top: 8px;
      }
      &.radio {
        label { width: 100%; display: block; }
        .radioItem {
          width: 30%;
          margin: 10px 0 20px;
          display: inline-block;
          input {
            margin-left: 0;
            margin-right: 10px;
            appearance: none;
            display: inline-block;
            position: relative;
            background-color: @light-2;
            color: #FFF;
            top: 7px;
            height: 22px;
            width: 22px;
            border: 0;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
            &:checked::before {
              position: absolute;
              font: 13px/1 'Open Sans', sans-serif;
              left: 8px;
              top: 3px;
              content: '\02143';
              transform: rotate(40deg);
            }
            &:hover { background-color: @light-3; }
            &:checked { background-color: @p-turk; }
          }
          .value {
            margin-right: 10%;
          }
        }
      }

    }
  }
}

#footer {
  background-color: @red;
  .container {
    &.flex { justify-content: flex-start;}
    .column {
      display: block;
      margin: 30px 10% 30px 0;
      .btn-float { top: -50px; margin-left: 19px; }
      #logo { margin-top: -30px; width: 90px; }
      h3 {
        margin: 0 0 20px 0;
        padding: 0;
        text-align: left;
        color: #FFF;
      }
      li {
        list-style: none;
        color: #FFF;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        font-smooth: antialiased;
        a {
          color: inherit;
          font-size: inherit;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        &.nolink {
          opacity: 0.7;
        }
      }
    }
  }
}

@media @tabletscreen {
  h2 { padding: 30px 12% 0px 12%; font-size: 4vw; } //padding container
  .bottom.unfixTablet {
    position: relative;
    bottom: auto;
    margin-top: 40px;
    .btn { position: relative; bottom: 0; }
    .bottomArrow.left, .bottomArrow.right  { border-width: 0px 50vw 80px 50vw; }
  }
  #topBlock {
    .vertCenter {
      .container { width: 100%; padding: 0 12%; }
      h1 {
        margin-top: -18%;
        font-size: 7vw;
        line-height: 9vw;
      }
      .subtitle {
         width: 50vw;
         font-size: 14px;
         line-height: 20px;
      }
      #coaster {
        width: 60vh;
        position: absolute;
        margin-left: 36vw;
        margin-top: -35px;
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      .btn { bottom: 4vh; }
    }

  }
  #phasesBlock {
    padding-top: 30px;
    h4 { display: none; }
    #tabcontent {
      .container { margin-top: 10vh;}
      .info {
        width: 100%;
        margin-top: 0px;
      }
    }
  }
  #servicesBlock .container .item {
    padding: 6%;
    width: 36%;
    height: 36%;
  }
  #footer {
    padding-bottom: 10Px;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    .container {
      display: block;
      #logo { display: none; }
      .column .btn-float {
        top: -18px;
        margin-left: 0px;
      }
    }
  }
}

@media @mobilescreen {
  h2 { font-size: 7vw; }
  .bottom .btn { position: relative; visibility: hidden; }
  .bottom.unfixMobile {
    position: relative;
    bottom: auto;
    margin-top: 40px;
    .bottomArrow.left, .bottomArrow.right  { border-width: 0px 50vw 80px 50vw; }
  }
  .container.unfixMobile {
    display: block;
    .item { width: auto !important ; }
  }
  #topBlock {
    min-height: 100vh;
    .vertCenter #coaster {
      width: 30vh;
      position: absolute;
      margin-left: 49vw;
      margin-top: -35px;
    }
    .bottom .btn {visibility: visible;}
  }
  #targetsBlock {
    .container {
      display: block;
      .target { width: auto; }
    }
  }
  #servicesBlock {
    .container {
      display: block;
      .item {
        padding: 6%;
        width: auto;
      }
    }
  }
  #phasesBlock #tabcontent {
    display: flex;
    height: ~"calc(100vh - 250px)";
    .container { align-self: center; margin-top: 0; }
    img { display: none; }
  }
  #pricingBlock .container .item {
    height: fit-content;
    margin-bottom: 20px;
    .pricing {
      position: relative !important;
      margin: 20px auto;
      bottom: 0 !important;
    }
  }
  #contactBlock #footer {position: relative;}
}
