* {
  padding: 0;
  margin: 0;
  font-family: Roboto-regular, sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
  display: block;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}
h1 {
  color: #000000;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  color: #000000;
  letter-spacing: 2.50px;
  text-align: center;
  padding-top: 3vh;
  margin-bottom: 30px;
}
h3 {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}
p,
li {
  font-size: 12px;
  color: #000000;
  text-align: center;
  line-height: 20px;
}
li {
  text-align: left;
}
.accent {
  font-weight: bold;
  font-size: 14px;
  color: #38C3DB;
  text-align: center;
  margin-bottom: 10px;
}
.left {
  text-align: left;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.turk {
  color: #38C3DB;
  font-family: inherit;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.btn {
  padding: 12px 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  width: fit-content;
  border: none;
  display: block;
}
.btn:hover {
  cursor: pointer;
  opacity: 1;
}
.btn.btn-primary {
  background-color: #38C3DB;
  color: #FFF;
  margin-top: 20px;
}
.btn.btn-primary.danger {
  background-color: #D05C76;
}
.btn.btn-secondary {
  width: fit-content;
  margin: 0 auto;
}
.btn.btn-secondary .material-icons {
  display: block;
}
.btn.btn-arrow {
  color: #000000;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn.btn-float {
  padding: 0px;
  background: #B03A5E;
  color: #FFF;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  opacity: 1;
}
.btn.btn-float:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn.center {
  margin: auto;
}
.block {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.block .bottomArrow {
  border-width: 0px 50vw 15vh 50vw;
  border-style: solid;
  border-color: transparent transparent #F5F5F5 transparent;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.block .bottomArrow.left {
  left: -50%;
}
.block .bottomArrow.right {
  right: -50%;
}
.block .bottomArrow.white {
  border-color: transparent transparent #FFF transparent;
}
.light {
  background-color: #F5F5F5;
}
.container {
  max-width: 900px;
  padding: 0 10%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bottom .btn {
  bottom: 2vh;
  position: relative;
}
.coasterSmall {
  color: #FFF;
  padding: 15px;
  border-radius: 35px;
  font-size: 24px;
  margin: 20px auto 40px auto;
  display: block;
  width: fit-content;
  border: solid 3px #fff;
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2);
}
.rhomboid {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: -34px;
  background: red;
  transform: rotate(45deg);
}
.rhomboid .inner {
  transform: rotate(-45deg);
  font-size: 14Px;
  line-height: 26px;
  width: 26px;
  text-align: center;
}
.card {
  background-color: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
}
.card.white {
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2);
}
.card.onlyCard {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
#overlay {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 9;
}
#overlay #popup {
  align-self: flex-end;
  background-color: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
#overlay #popup p {
  align-self: center;
}
#overlay #popup .btn {
  margin-top: 0;
  width: 110px;
  margin-left: 40px;
}
#floatingBtn {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  padding: 15px;
  z-index: 8;
  background-color: #D05C76;
  color: #FFF;
  border-radius: 40px;
  border: 4px #FFF solid;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.09);
  font-size: 12px;
  line-height: 11px;
  display: flex;
  width: 200px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
#floatingBtn .number {
  margin-left: 38px;
  align-self: center;
  font-size: 18px;
  transition-delay: 3;
  display: block;
  width: 300px;
  position: absolute;
  transition: all 0.3s ease-out;
  color: #FFF;
}
#floatingBtn.closed {
  width: 24px;
  height: 24px;
}
#floatingBtn.closed .number {
  visibility: hidden;
}
form {
  max-width: 500px;
  margin: 15px auto 0px auto;
}
form .half {
  width: 48%;
  float: left;
  margin-right: 2%;
}
form .formItem {
  position: relative;
}
form .formItem.line {
  border-bottom: 2px solid #EBEDEE;
  margin-bottom: 25px;
}
form .formItem.line label {
  position: absolute;
  margin-top: 4px;
}
form .formItem label,
form .formItem .value {
  width: 67px;
  color: #000000;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
}
form .formItem input {
  width: calc(100% - 67px);
  border: none;
  padding-left: 67px;
  line-height: 25px;
  font-size: 14px;
  outline: none;
  z-index: 9;
  position: relative;
  background: none;
}
form .formItem textarea {
  margin-top: 4px;
  width: 100%;
  min-height: 70px;
  border: 2px solid #EBEDEE;
}
form .formItem .text-help {
  color: #D05C76;
  font-style: italic;
  font-size: 12px;
  float: right;
  margin-top: 4px;
  position: absolute;
  right: 0;
}
form .formItem.radio label {
  width: 100%;
  display: block;
  position: relative;
}
form .formItem.radio .radioItem {
  width: 30%;
  margin: 10px 0 20px;
  display: inline-block;
}
form .formItem.radio .radioItem input {
  margin-left: 0;
  margin-right: 10px;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #EBEDEE;
  color: #FFF;
  height: 22px;
  width: 22px;
  top: 7px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  padding-left: 0px;
}
form .formItem.radio .radioItem input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 8px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}
form .formItem.radio .radioItem input:hover {
  background-color: #DEE0E2;
}
form .formItem.radio .radioItem input:checked {
  background-color: #38C3DB;
}
form .formItem.radio .radioItem .value {
  margin-right: 10%;
}
#header {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFF;
}
#header #mobile {
  display: none;
}
#header img {
  width: 120px;
  margin-top: 14px;
}
#header ul {
  float: right;
}
#header ul li {
  float: left;
  list-style: none;
  margin-left: 20px;
  margin-top: 0.5vw;
  font-size: 14px;
}
#header ul li a {
  color: #828282;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
#header ul li a:hover,
#header ul li a.active {
  color: #000000;
  border-bottom: 3px solid #38C3DB;
}
#tabcontent {
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
  height: calc(100vh - 240px);
}
#tabcontent img {
  width: 100%;
}
#tabcontent .info {
  position: relative;
  width: 34%;
  margin: -140px auto 0px auto;
  text-align: center;
  min-height: 165px;
}
#tipsForm h3 {
  margin-bottom: 3vh;
}
#tipsForm #stepLine {
  width: 204px;
  margin: 3vh auto 5vh auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#tipsForm #stepLine .item {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #DEE0E2;
}
#tipsForm #stepLine .item .line {
  border-bottom: solid 2px #DEE0E2;
  margin-left: -31px;
  margin-top: 3px;
  position: absolute;
  width: 31px;
}
#tipsForm #stepLine .item.active {
  background-color: #D05C76;
}
#tipsForm #stepLine .item.active .line {
  border-bottom: solid 2px #D05C76;
}
#tipsForm #personas {
  display: flex;
  justify-content: space-between;
}
#tipsForm #personas .persona {
  width: 25%;
  padding: 20px;
  border-top: 4px solid #38C3DB;
}
#tipsForm #personas .persona img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
#tipsForm #personas .persona:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
#tipsForm .formCard {
  border-top: 4px solid #38C3DB;
  max-width: 300px;
}
#tipsForm .formCard img {
  width: 30%;
  margin: 0 auto;
  display: block;
}
#tipsForm .formCard .buttons {
  display: flex;
  justify-content: center;
}
#tipsForm .formCard .buttons .btn {
  display: inline-block;
  margin: 20px 10px;
}
#tipsForm #tips {
  margin-bottom: 2vh;
  max-height: 20vh;
  overflow: scroll;
}
#tipsForm #tips .tip {
  margin-bottom: 2vh;
}
#tipsForm #tips .tip .percentage {
  float: left;
  font-size: 30px;
  font-weight: bold;
  color: #38C3DB;
  margin-right: 20px;
}
#tipsForm #tips .tip p {
  text-align: left;
}
#tipsForm #tips .tip p .bold {
  font-weight: bold;
}
#topBlock {
  background-color: #FFF;
}
#topBlock .vertCenter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
#topBlock .vertCenter.container {
  position: relative;
  align-self: center;
}
#topBlock .vertCenter.container .above {
  width: 60%;
}
#topBlock .vertCenter.container .above .subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}
#topBlock .vertCenter #coaster {
  width: 60vw;
  max-width: 350px;
}
#workshopBlock .card {
  margin-top: 20vh;
}
#targetsBlock .container {
  margin-top: 10vh;
}
#targetsBlock .container .target {
  width: 30%;
}
#targetsBlock .container .target img {
  width: 50%;
  display: block;
  margin: 0 auto 20px auto;
}
#targetsBlock .container .target h4 {
  margin-bottom: 20px;
}
#phasesBlock #tabs {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
#phasesBlock #tabs li {
  position: relative;
  list-style: none;
  width: 25%;
  float: left;
  display: block;
}
#phasesBlock #tabs li .rhomboid {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  font-weight: bold;
  color: #D05C76;
  text-align: center;
  margin: 5px auto 10px auto;
  transition: all 0.3s ease-out;
}
#phasesBlock #tabs li h3 {
  position: relative;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
#phasesBlock #tabs li .line {
  border-bottom: solid 2px #FFF;
  margin-left: calc(-50% + 12px);
  margin-top: 17px;
  position: absolute;
  width: calc(100% - 23px);
  opacity: 0.6;
}
#phasesBlock #tabs li .line:after {
  content: "";
  width: 100%;
  opacity: 1;
}
#phasesBlock #tabs li:hover h3,
#phasesBlock #tabs li.active h3 {
  opacity: 1;
}
#phasesBlock #tabs li.active .arrow {
  width: 30px;
  height: 30px;
  background: #FFF;
  transform: rotate(45deg);
  margin-bottom: -24px;
  margin-left: calc(50% - 15px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
  margin-top: 15px;
}
#phasesBlock #tabs li.active .line,
#phasesBlock #tabs li.done .line {
  border-bottom: solid 2px #D05C76;
  opacity: 1;
  box-shadow: 0 0 15px 0 #DEE0E2;
}
#phasesBlock #tabs li:hover .rhomboid,
#phasesBlock #tabs li.active .rhomboid,
#phasesBlock #tabs li.done .rhomboid {
  color: #FFF;
  background: #D05C76;
}
#phasesBlock #tabs li:hover {
  cursor: pointer;
}
#phasesBlock #tabs li:hover .illu {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
}
#servicesBlock .flex {
  margin-top: 4vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#servicesBlock .flex .item {
  height: 28vh;
  width: 12%;
  margin-bottom: 4%;
  padding: 2% 4%;
  flex: 0 0 auto;
  margin-left: 2vw;
}
#pricingBlock .container .item {
  width: 18%;
  border: 4px solid #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
}
#pricingBlock .container .item .rhomboid {
  background-color: #D05C76;
  color: #FFF;
  margin-left: -17px;
  margin-top: 28px;
}
#pricingBlock .container .item .image {
  background-color: #FFF;
  height: 90px;
}
#pricingBlock .container .item .image img {
  margin: 0px auto 20px auto;
  padding: 10px;
  display: block;
  height: 70px;
}
#pricingBlock .container .item h4 {
  margin-top: 15px;
}
#pricingBlock .container .item .content {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#pricingBlock .container .item .content ul {
  margin-top: 14px;
}
#pricingBlock .container .item .content ul li {
  list-style: none;
  line-height: 20px;
  margin: 2px 0px 2px 18px;
}
#pricingBlock .container .item .content ul li .icon {
  font-size: 14px;
  padding-top: 2px;
  margin-left: -18px;
  position: absolute;
}
#pricingBlock .container .item .content .pricing {
  margin-top: auto;
  margin-bottom: 15px;
  padding-top: 15px;
}
#pricingBlock .container .item .content .pricing p {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
#pricingBlock .container .item .content .pricing p.accent {
  font-size: 14px;
}
#contactPage #topBlock {
  background-color: #F5F5F5;
}
#contactPage #topBlock .left,
#contactPage #topBlock .right {
  margin-top: 10vh;
  width: 40%;
  padding: 4%;
}
#contactPage #topBlock .right {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#contactPage #topBlock .right #call {
  font-size: 24px;
}
#contactPage #topBlock .right #address {
  margin-top: auto;
}
#contactPage #topBlock .left {
  width: calc(44% + 400px);
  margin-left: -400px;
  height: 70vh;
}
#contactPage #topBlock .left .backleft {
  margin-left: 400px;
}
#footer {
  background-color: #D05C76;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer .container {
  margin-top: 0;
  overflow: visible;
}
#footer .container.flex {
  justify-content: flex-start;
}
#footer .container .column {
  display: block;
  margin: 30px 10% 30px 0;
}
#footer .container .column .btn-float {
  top: -50px;
  margin-left: 19px;
}
#footer .container .column #logo {
  margin-top: -30px;
  width: 90px;
}
#footer .container .column h3 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
  color: #FFF;
}
#footer .container .column li {
  list-style: none;
  color: #FFF;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  font-smooth: antialiased;
}
#footer .container .column li a {
  color: inherit;
  font-size: inherit;
  opacity: 0.7;
}
#footer .container .column li a:hover {
  opacity: 1;
}
#footer .container .column li.nolink {
  opacity: 0.7;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4vw;
    line-height: 5vw;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .coasterSmall {
    margin: 0px auto 15px auto;
    padding: 12px;
    font-size: 20px;
  }
  form {
    margin: 10px auto 0px auto;
  }
  form .formItem.line {
    margin-bottom: 15px;
  }
  .card.onlyCard {
    padding: 20px;
    width: calc(100% - 40px);
  }
  #topBlock .vertCenter #coaster {
    max-width: 300px;
  }
  #targetsBlock .container {
    margin-top: 0;
  }
  #targetsBlock .container .target img {
    margin-bottom: 0;
  }
  #servicesBlock .container .item {
    padding: 2% 6%;
    height: auto;
  }
  #phasesBlock #tabcontent img {
    display: none;
  }
  #phasesBlock #tabcontent .info {
    margin: 6vh auto 0px auto;
  }
  #pricingBlock .container .item {
    width: 47%;
    margin-bottom: 20px;
  }
  #contactPage #header {
    border-bottom: 1px #F5F5F5 solid;
  }
  #contactPage #topBlock .left {
    height: auto;
  }
  #tipsPage #tabcontent {
    height: auto;
  }
  #tipsPage #footer {
    position: relative;
  }
  #processPage #footer {
    position: relative;
  }
}
@media screen and (max-width: 853px) {
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 12px;
  }
  .btn.btn-primary {
    margin-top: 10px;
  }
  .bottom .btn {
    position: relative;
    visibility: hidden;
  }
  #tipsForm #personas {
    display: block;
  }
  #tipsForm #personas .persona {
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }
  #tipsForm #personas .persona img {
    display: none;
  }
  #topBlock .vertCenter.container .above {
    margin-top: 7vh;
  }
  #topBlock .vertCenter.container .above .subtitle {
    font-size: 12px;
    line-height: 14px;
  }
  #topBlock .vertCenter #coaster {
    width: 40vw;
    margin-top: 7vh;
  }
  #processPage #topBlock .vertCenter {
    height: auto;
    margin-top: 75px;
  }
  #workshopBlock .card {
    margin-top: 10vh;
  }
  #targetsBlock .container .target h4 {
    margin-bottom: 5px;
  }
  #servicesBlock .container {
    flex-wrap: wrap;
  }
  #servicesBlock .container .card {
    width: 35%;
  }
  #servicesBlock #footer {
    position: relative;
  }
  #phasesBlock #tabcontent {
    height: fit-content;
  }
  #phasesBlock #tabcontent .info {
    margin: 0px auto;
    width: 50%;
    min-height: 100px;
  }
  #contactPage #topBlock .container.flex {
    display: block;
    padding: 0;
  }
  #contactPage #topBlock .container.flex .left {
    width: 92%;
    margin-left: 0;
  }
  #contactPage #topBlock .container.flex .left .backleft {
    margin-left: 0px;
  }
  #contactPage #topBlock .container.flex .right {
    width: 92%;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  h1 {
    font-size: 7vw;
    line-height: 9vw;
  }
  h2 {
    font-size: 5vw;
    padding: 20px 40px;
  }
  form {
    z-index: 0;
    position: relative;
  }
  form .half {
    width: 100%;
  }
  #floatingBtn {
    right: 50%;
    margin-right: -118px;
  }
  #overlay #popup {
    display: block;
  }
  #overlay #popup .btn {
    margin: 20px auto;
  }
  #header #wideNav {
    display: none;
  }
  #header #mobile {
    display: block;
  }
  #header #mobile .container {
    position: absolute;
  }
  #header #mobile #hamburger {
    position: absolute;
    margin-top: 27px;
  }
  #header #mobile .inner {
    background-color: #FFF;
    height: 100vh;
    width: 65%;
    padding-top: 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    display: block;
    transition: all 0.3s ease-out;
  }
  #header #mobile .inner li {
    display: block;
    width: 100%;
  }
  #header #mobile .inner li a.active {
    border-bottom: none;
    color: #38C3DB;
  }
  #header.closed #mobile {
    background: none;
  }
  #header.closed #mobile .inner {
    transform: translateX(-115%);
  }
  #header.open #mobile {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
  }
  #header.open #mobile .inner {
    transform: translateX(0);
  }
  #header .container {
    text-align: center;
  }
  #header ul {
    float: none;
    display: flex;
    justify-content: space-around;
  }
  #header ul li {
    margin-left: 0;
  }
  #footer {
    padding-bottom: 10Px;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
  }
  #footer .container {
    display: block;
  }
  #footer .container #logo {
    display: none;
  }
  #footer .container .column .btn-float {
    top: -18px;
    margin-left: 0px;
  }
  #topBlock .vertCenter.container .above {
    width: 75%;
  }
  #topBlock .vertCenter #coaster {
    margin-right: -40vw;
    width: 70vw;
  }
  #tipsBlock #tabcontent {
    height: auto;
  }
  #targetsBlock .container {
    display: block;
  }
  #targetsBlock .container .target {
    width: auto;
  }
  #targetsBlock .bottom {
    position: relative;
  }
  #servicesBlock .flex {
    display: block;
  }
  #servicesBlock .flex .item {
    padding: 6%;
    width: calc(100% - 16%);
  }
  #phasesBlock {
    padding-top: 30px;
  }
  #phasesBlock h4 {
    display: none;
  }
  #phasesBlock #tabcontent .container {
    margin-top: 10vh;
  }
  #phasesBlock #tabcontent .info {
    width: 100%;
    margin-top: 0px;
  }
  #pricingBlock .container .item {
    width: 100%;
  }
  #contactPage #topBlock .container.flex .left {
    margin-top: 16vh;
  }
}
