* {
  padding: 0;
  margin: 0;
  font-family: Roboto-regular, sans-serif;
}
a {
  text-decoration: none;
  color: #22264B;
  display: block;
}
h1 {
  color: #FFF;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4.5vw;
  letter-spacing: 4px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  color: #22264B;
  letter-spacing: 2.50px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 35px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  color: #22264B;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}
p {
  font-size: 12px;
  color: #22264B;
  text-align: justify;
  line-height: 20px;
}
.accent {
  font-weight: bold;
  font-size: 14px;
  color: #38C3DB;
  text-align: center;
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.btn {
  padding: 12px 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  width: fit-content;
  border: none;
  display: block;
}
.btn:hover {
  cursor: pointer;
  opacity: 1;
}
.btn.btn-primary {
  background-color: #38C3DB;
  color: #FFF;
  margin: 20px auto 0px auto;
}
.btn.btn-secondary {
  width: fit-content;
  margin: 0 auto;
}
.btn.btn-secondary .material-icons {
  display: block;
}
.btn.btn-arrow {
  color: #fff;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}
.block {
  margin: 0;
  min-height: 100vh;
}
.block .container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 6%;
}
#topBlock {
  background-image: url(img/bg.png);
  background-size: cover;
  background-position: center;
}
#topBlock #logo {
  width: 140px;
  margin-top: 10vh;
  margin-left: calc(50% - 70px);
}
#topBlock h1 {
  padding-top: 10vh;
}
#topBlock .subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#topBlock .bottom {
  position: absolute;
  left: 50%;
  bottom: 60px;
}
#topBlock .bottom .btn {
  position: relative;
  left: -50%;
}
#phasesBlock {
  background-color: #F2F3EF;
}
#phasesBlock #tabs {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
#phasesBlock #tabs li {
  position: relative;
  list-style: none;
  width: 25%;
  float: left;
  display: block;
}
#phasesBlock #tabs li .number {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #22264B;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto -5px auto;
}
#phasesBlock #tabs li .illu {
  position: relative;
  z-index: 0;
  background: #FFF;
  border-radius: 2px;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  margin-left: calc(50% - 30px);
  margin-bottom: 25px;
  transition: all 0.3s ease-out;
}
#phasesBlock #tabs li .illu img {
  position: absolute;
  width: 64px;
  transform: rotate(-45deg);
  margin-left: -32px;
  margin-top: 6px;
}
#phasesBlock #tabs li .illu img.color {
  opacity: 0;
  transition: all 0.3s ease-out;
}
#phasesBlock #tabs li .illu img.color.active {
  opacity: 1;
}
#phasesBlock #tabs li h3 {
  position: relative;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
#phasesBlock #tabs li .line {
  border-bottom: dashed 2px #FFF;
  margin-left: calc(-50% + 40px);
  margin-top: 48px;
  position: absolute;
  width: calc(100% - 60px);
  opacity: 0.6;
}
#phasesBlock #tabs li .line:after {
  content: "";
  width: 100%;
  opacity: 1;
}
#phasesBlock #tabs li:hover h3,
#phasesBlock #tabs li.active h3 {
  opacity: 1;
}
#phasesBlock #tabs li.active .arrow {
  width: 30px;
  height: 30px;
  background: #FFF;
  transform: rotate(45deg);
  margin-bottom: -24px;
  margin-left: calc(50% - 15px);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
  margin-top: 15px;
}
#phasesBlock #tabs li.active .illu,
#phasesBlock #tabs li.done .illu {
  box-shadow: 0 0 15px 0 #EAECE5;
}
#phasesBlock #tabs li.active .line,
#phasesBlock #tabs li.done .line {
  border-bottom: solid 2px #FFF;
  opacity: 1;
  box-shadow: 0 0 15px 0 #DEE2D5;
}
#phasesBlock #tabs li:hover .number,
#phasesBlock #tabs li.active .number,
#phasesBlock #tabs li.done .number {
  color: #FFF;
  background: #38C3DB;
}
#phasesBlock #tabs li:hover {
  cursor: pointer;
}
#phasesBlock #tabs li:hover .illu {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
}
#phasesBlock #tabcontent {
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
}
#phasesBlock #tabcontent img {
  width: 100%;
}
#phasesBlock #tabcontent .info {
  position: relative;
  width: 34%;
  margin: -140px auto 0px auto;
  text-align: center;
  min-height: 165px;
}
#contactBlock .contactArrow {
  border-width: 85px 50vw 0 50vw;
  border-style: solid;
  border-color: #F2F3EF transparent transparent transparent;
}
#contactBlock form {
  max-width: 500px;
  margin: 40px auto;
}
#contactBlock form .formItem.line {
  border-bottom: 2px solid #EAECE5;
  margin-bottom: 50px;
}
#contactBlock form .formItem label,
#contactBlock form .formItem .value {
  width: 20%;
  color: #22264B;
  font-size: 14px;
}
#contactBlock form .formItem input {
  width: 80%;
  border: none;
  margin-left: 10%;
  line-height: 25px;
  font-size: 14px;
  outline: none;
}
#contactBlock form .formItem textarea {
  margin-top: 4px;
  width: 100%;
  min-height: 70px;
  border: 2px solid #EAECE5;
}
#contactBlock form .formItem.radio label {
  width: 100%;
  display: block;
}
#contactBlock form .formItem.radio .radioItem {
  width: 30%;
  margin: 10px 0 20px;
  display: inline-block;
}
#contactBlock form .formItem.radio .radioItem input {
  margin-left: 0;
  margin-right: 10px;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #EAECE5;
  color: #FFF;
  top: 7px;
  height: 22px;
  width: 22px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}
#contactBlock form .formItem.radio .radioItem input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 8px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}
#contactBlock form .formItem.radio .radioItem input:hover {
  background-color: #DEE2D5;
}
#contactBlock form .formItem.radio .radioItem input:checked {
  background-color: #38C3DB;
}
#contactBlock form .formItem.radio .radioItem .value {
  margin-right: 10%;
}
