@p-turk : #38C3DB;
@light-1: #F5F5F5;
@light-2: #EBEDEE;
@light-3: #DEE0E2;
@dark: #000000;
@red: #D05C76;
@red-dark: #B03A5E;

@shadowCard: 0 0 16px 0 rgba(0,0,0,0.12);
@shadowCardDark: 0 2px 8px 0 rgba(0,0,0,0.10), 0 6px 40px 0 rgba(0,0,0,0.09);
@shadowBtn: 0 4px 8px 0 rgba(0,0,0,0.2);
@shadowCoaster: 0 3px 25px 0 rgba(0, 0, 0, 0.2);
@transition: all 0.3s ease-out;
@overlay: rgba(0, 0, 0, 0.75);

@tabletscreen: ~"screen and (max-width: 1024px)";
@mobilescreen: ~"screen and (max-width: 853px)";
// @ipadscreenPort: ~"screen and (max-width: 1024px) and (orientation: portrait)";
@tabletscreenPort: ~"screen and (max-width: 768px) and (orientation: portrait)";
@mobilescreenPort: ~"screen and (max-width: 414px) and (orientation: portrait)";

* {
  padding: 0;
  margin: 0;
  font-family: Roboto-regular, sans-serif;
}

a { text-decoration: none; color: @dark; display: block; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
h1 {
  color: @dark;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  color: @dark;
  letter-spacing: 2.50px;
  text-align: center;
  padding-top: 3vh;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: @dark;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  color: @dark;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}

p, li {
  font-size: 12px;
  color: @dark;
  text-align: center;
  line-height: 20px;
}

li { text-align: left; }

.accent {
  font-weight: bold;
  font-size: 14px;
  color: @p-turk;
  text-align: center;
  margin-bottom: 10px
}
.left { text-align: left; }
.italic { font-style: italic; }
.center { text-align: center; }
.turk { color: @p-turk; font-family: inherit; }
.hidden { display: none; }
.visible { display: block; }

.btn {
  padding: 12px 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  transition: @transition;
  width: fit-content;
  border: none;
  display: block;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &.btn-primary {
    background-color: @p-turk;
    color: #FFF;
    margin-top: 20px;
    &.danger { background-color: @red; }
  }
  &.btn-secondary {
    width: fit-content;
    margin: 0 auto;
    .material-icons {
      display: block;
    }
  }
  &.btn-arrow {
    color: @dark;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.btn-float {
    padding: 0px;
    background: @red-dark;
    color: #FFF;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    opacity: 1;
    &:hover {
      box-shadow: @shadowBtn;
    }
  }
  &.center {margin: auto}
}

.block {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  .bottomArrow {
    border-width: 0px 50vw 15vh 50vw;
    border-style: solid;
    border-color: transparent transparent @light-1 transparent;
    position: absolute;
    bottom: 0;
    z-index: -1;
    &.left {left: -50% }
    &.right {right: -50% }
    &.white { border-color: transparent transparent #FFF transparent; }
  }
}
.light { background-color: @light-1; }

.container {
  max-width: 900px;
  padding: 0 10%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  .btn {
    bottom: 2vh;
    position: relative;
  }
}

.coasterSmall {
  color: #FFF;
  padding: 15px;
  border-radius: 35px;
  font-size: 24px;
  margin: 20px auto 40px auto;
  display: block;
  width: fit-content;
  border: solid 3px #fff;
  box-shadow: @shadowCoaster;
}

.rhomboid {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: -34px;
  background: red;
  transform: rotate(45deg);
  .inner {
    transform: rotate(-45deg);
    font-size: 14Px;
    line-height: 26px;
    width: 26px;
    text-align: center;
  }
}

.card {
  background-color: #FFF;
  box-shadow: @shadowCard;
  &.white { box-shadow: @shadowCoaster }
  &.onlyCard {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
}

#overlay {
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 9;
  bottom: 0px;
  #popup {
    align-self: flex-end;
    background-color: #FFF;
    box-shadow: @shadowCard;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    p { align-self: center; }
    .btn {
      margin-top: 0;
      width: 110px;
      margin-left: 40px;
    }
  }
}

#floatingBtn {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  padding: 15px;
  z-index: 8;
  background-color: @red;
  color: #FFF;
  border-radius: 40px;
  border: 4px #FFF solid;
  box-shadow: @shadowCardDark;
  font-size: 12px;
  line-height: 11px;
  display: flex;
  width: 200px;
  transition: @transition;
  overflow: hidden;
  .number {
    margin-left: 38px;
    align-self: center;
    font-size: 18px;
    transition-delay: 3;
    display: block;
    width: 300px;
    position: absolute;
    transition: @transition;
    color: #FFF;
  }
  &.closed {
    width: 24px;
    height: 24px;
    .number { visibility: hidden; }
  }
}

form {
  max-width: 500px;
  margin: 15px auto 0px auto;
  .half {
    width: 48%;
    float: left;
    margin-right: 2%;

  }
  .formItem {
    position: relative;
    &.line {
      border-bottom: 2px solid @light-2;
      margin-bottom: 35px;
      label { position: absolute; margin-top: 4px; }
    }
    label, .value {
      width: 20%;
      color: @dark;
      font-size: 14px;
    }
    input {
      width: ~"calc(100% - 55px)";
      border: none;
      padding-left: 55px;
      line-height: 25px;
      font-size: 14px;
      outline: none;
      z-index: 9;
      position: relative;
      background: none;
    }
    textarea {
      margin-top: 4px;
      width: 100%;
      min-height: 70px;
      border: 2px solid @light-2;
    }
    .text-help {
      color: @red;
      font-style: italic;
      font-size: 12px;
      float: right;
      margin-top: 8px;
      position: absolute;
      right: 0;
    }
    &.radio {
      label { width: 100%; display: block; position: relative; }
      .radioItem {
        width: 30%;
        margin: 10px 0 20px;
        display: inline-block;
        input {
          margin-left: 0;
          margin-right: 10px;
          appearance: none;
          display: inline-block;
          position: relative;
          background-color: @light-2;
          color: #FFF;
          height: 22px;
          width: 22px;
          top: 7px;
          border: 0;
          border-radius: 50px;
          cursor: pointer;
          outline: none;
          padding-left: 0px;
          &:checked::before {
            position: absolute;
            font: 13px/1 'Open Sans', sans-serif;
            left: 8px;
            top: 3px;
            content: '\02143';
            transform: rotate(40deg);
          }
          &:hover { background-color: @light-3; }
          &:checked { background-color: @p-turk; }
        }
        .value {
          margin-right: 10%;
        }
      }
    }

  }
}

#header {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFF;
  #mobile { display: none; }
  img {
    width: 120px;
    margin-top: 14px;
  }
  ul {
    float: right;
    li {
      float: left;
      list-style: none;
      margin-left: 20px;
      margin-top: 0.5vw;
      font-size: 14px;
      a {
        color: #828282;
        line-height: 50px;
        font-weight: bold;
        letter-spacing: 0.5px;
        &:hover, &.active { color: @dark; border-bottom: 3px solid @p-turk }
      }
    }
  }
}

#tabcontent {
  padding: 25px;
  background: #FFFFFF;
  box-shadow: @shadowCard;
  height: ~"calc(100vh - 240px)";
  img { width: 100%; }
  .info {
    position: relative;
    width: 34%;
    margin: -140px auto 0px auto;
    text-align: center;
    min-height: 165px;
  }
}

#tipsForm {
  h3 { margin-bottom: 3vh; }
  #stepLine {
    width: 204px;
    margin: 3vh auto 5vh auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .item {
      position: relative;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background: @light-3;
      .line {
        border-bottom: solid 2px @light-3;
        margin-left: -31px;
        margin-top: 3px;
        position: absolute;
        width: 31px;
      }
      &.active {
        background-color: @red;
        .line {border-bottom: solid 2px @red;}
      }


    }

  }
  #personas {
    display: flex;
    justify-content: space-between;
    .persona {
      width: 25%;
      padding: 20px;
      border-top: 4px solid @p-turk;
      img { width: 50%; margin: 0 auto; display: block; }
      &:hover { box-shadow: @shadowCardDark; cursor: pointer;}
    }
  }
  .formCard {
    border-top: 4px solid @p-turk;
    max-width: 300px;
    img { width: 30%; margin: 0 auto; display: block; }
    .buttons {
      display: flex;
      justify-content: center;
      .btn { display: inline-block; margin: 20px 10px; }
    }
  }
  #tips {
    .tip {
      margin-bottom: 2vh;
      .percentage {
        float: left;
        font-size: 30px;
        font-weight: bold;
        color: @p-turk;
        margin-right: 20px;
      }
      p { text-align: left; .bold { font-weight: bold; } }
    }

  }
}

#topBlock {
  background-color: #FFF;
  .vertCenter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    &.container {
      position: relative;
      align-self: center;
      .above {
        width: 60%;
        .subtitle {
          font-size: 16px;
          font-weight: normal;
          line-height: 24px;
          color: @dark;
        }
      }
    }
    #coaster {  width: 60vw; max-width: 350px;}
  }
}

#workshopBlock .card {
  margin-top: 20vh;
}

#targetsBlock {
  .container {
    margin-top: 10vh;
    .target {
      width: 30%;
      img {
        width: 50%;
        display: block;
        margin: 0 auto 20px auto;
      }
      h4 { margin-bottom: 20px; }
    }
  }
}

#phasesBlock {
  #tabs {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    li {
      position: relative;
      list-style: none;
      width: 25%;
      float: left;
      display: block;
      .rhomboid {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        font-weight: bold;
        color: @red;
        text-align: center;
        margin: 5px auto 10px auto;
        transition: @transition;
      }
      h3 {
        position: relative;
        z-index: 1;
        opacity: 0.5;
        transition: @transition;
      }
      .line {
        border-bottom: solid 2px #FFF;
        margin-left: ~"calc(-50% + 12px)";
        margin-top: 17px;
        position: absolute;
        width: ~"calc(100% - 23px)";
        opacity: 0.6;
        &:after {
          content: "";
          width: 100%;
          opacity: 1;
        }
      }

      &:hover, &.active {
        h3 { opacity: 1; }
      }
      &.active .arrow {
        width: 30px;
        height: 30px;
        background: #FFF;
        transform: rotate(45deg);
        margin-bottom: -24px;
        margin-left: ~"calc(50% - 15px)";
        box-shadow: @shadowCard;
        margin-top: 15px;
      }
      &.active, &.done {
        // .illu { box-shadow: 0 0 15px 0 @light-2; }
        .line {
          border-bottom: solid 2px @red;
          opacity: 1;
          box-shadow: 0 0 15px 0 @light-3;
        }
      }
      &:hover, &.active, &.done { .rhomboid { color: #FFF; background: @red; } }
      &:hover {
        cursor: pointer;
        .illu { box-shadow: @shadowCard; }
      }

    }
  }

}

#servicesBlock {
  .flex {
    margin-top: 4vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    .item {
      height: 28vh;
      width: 12%;
      margin-bottom: 4%;
      padding: 2% 4%;
      flex: 0 0 auto;
      margin-left: 2vw;
    }
  }
}

#pricingBlock {
  .container {
    .item {
      width: 18%;
      border: 4px solid #FFFFFF;
      position: relative;
      display: flex;
      flex-direction: column;
      .rhomboid {
        background-color: @red;
        color: #FFF;
        margin-left: -17px;
        margin-top: 28px;
      }
      .image {
        background-color: #FFF;
        height: 90px;
        img {
          margin: 0px auto 20px auto;
          padding: 10px;
          display: block;
          height: 70px;
        }
      }
      h4 { margin-top: 15px; }
      .content {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        ul {
          margin-top: 14px;
          li {
            list-style: none;
            line-height: 20px;
            margin: 2px 0px 2px 18px;
            .icon {
              font-size: 14px;
              padding-top: 2px;
              margin-left: -18px;
              position: absolute;
            }
          }
        }
        .pricing {
          margin-top: auto;
          margin-bottom: 15px;
          padding-top: 15px;
          p {
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            &.accent {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

#contactPage {
  #topBlock {
    background-color: @light-1;
    .left, .right {
      margin-top: 10vh;
      width: 40%;
      padding: 4%;

    }
    .right {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      #call { font-size: 24px; }
      #address { margin-top: auto; }
    }
    .left {
      width: ~"calc(44% + 400px)";
      margin-left: -400px;
      height: 70vh;
      .backleft {
        margin-left: 400px;
      }
    }
  }
}

#footer {
  background-color: @red;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container {
    margin-top: 0;
    overflow: visible;
    &.flex { justify-content: flex-start;}
    .column {
      display: block;
      margin: 30px 10% 30px 0;
      .btn-float { top: -50px; margin-left: 19px; }
      #logo { margin-top: -30px; width: 90px; }
      h3 {
        margin: 0 0 20px 0;
        padding: 0;
        text-align: left;
        color: #FFF;
      }
      li {
        list-style: none;
        color: #FFF;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        font-smooth: antialiased;
        a {
          color: inherit;
          font-size: inherit;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        &.nolink {
          opacity: 0.7;
        }
      }
    }
  }
}

@media @tabletscreen {
  h1 { font-size: 4vw; line-height: 5vw; }
  h3 { font-size: 20px; margin-bottom: 10px; }
  .coasterSmall {
    margin: 0px auto 15px auto;
    padding: 12px;
    font-size: 20px;
  }
  form {
    margin: 10px auto 0px auto;
    .formItem.line { margin-bottom: 15px; }
  }
  .card.onlyCard { padding: 20px; width: ~"calc(100% - 40px)"; }

  #topBlock {
    .vertCenter #coaster { max-width: 300px; }
  }
  #targetsBlock .container {
    margin-top: 0;
    .target img { margin-bottom: 0; }
  }
  #servicesBlock .container .item { padding: 2% 6%; height: auto; }
  #phasesBlock #tabcontent {
    img { display: none; }
    .info { margin: 6vh auto 0px auto; }
  }
  #pricingBlock .container .item { width: 47%; margin-bottom: 20px;}
  #contactPage {
    #header { border-bottom: 1px @light-1 solid; }
    #topBlock .left { height: auto; }
  }
  #tipsPage {
    #tabcontent { height: auto}
    #footer { position: relative; }
  }
  #processPage #footer { position: relative; }
}

@media @mobilescreen {
  h1 { margin-bottom: 10px; }
  h2 { margin-bottom: 10px; }
  h3 { font-size: 14px; margin-bottom: 5px; }
  h4 { font-size: 12px;  }
  .btn.btn-primary { margin-top: 10px; }
  .bottom .btn { position: relative; visibility: hidden; }
  #tipsForm {
    #personas {
      display: block;
      .persona {
        width: ~"calc(100% - 40px)";
        margin-bottom: 20px;
        img { display: none; }
      }
    }
  }
  #topBlock {
    .vertCenter {
      &.container .above {
        margin-top: 7vh;
        .subtitle { font-size: 12px; line-height: 14px; }
      }
      #coaster { width: 40vw; margin-top: 7vh; }
    }
  }
  #processPage #topBlock .vertCenter {
    height: auto;
    margin-top: 75px;
  }
  #workshopBlock .card { margin-top: 10vh; }
  #targetsBlock .container .target h4 { margin-bottom: 5px; }
  #servicesBlock {
    .container {
      flex-wrap: wrap;
      .card {
        width: 35%;
      }
    }
    #footer { position: relative; }
  }
  #phasesBlock #tabcontent {
    height: fit-content;
    .info {
      margin: 0px auto;
      width: 50%;
      min-height: 100px;
    }
  }
  #contactPage
  #topBlock .container.flex {
    display: block;
    padding: 0;
    .left {
      width: 92%;
      margin-left: 0;
      .backleft { margin-left: 0px; }
     }
     .right { width: 92%; }
  }
}

@media @mobilescreenPort {
  h1 { font-size: 7vw; line-height: 9vw; }
  h2 { font-size: 5vw; padding: 20px 40px; }
  form {
    z-index: 0;
    position: relative;
    .half { width: 100%; }
  }
  #floatingBtn {
    right: 50%;
    margin-right: -118px;
  }
  #overlay #popup {
    display: block;
    .btn { margin: 20px auto; }
  }
  #header {
    #wideNav { display: none; }
    #mobile {
      display: block;
      .container { position: absolute; }
      #hamburger {
        position: absolute;
        margin-top: 27px;
      }
      .inner {
        background-color: #FFF;
        height: 100vh;
        width: 65%;
        padding-top: 40px;
        box-shadow: @shadowCard;
        display: block;
        transition: @transition;
        li {
          display: block;
          width: 100%;
          a.active { border-bottom: none; color: @p-turk; }
        }
      }
    }
    &.closed #mobile {
      background: none;
      .inner { transform: translateX(-115%); }
    }
    &.open #mobile {
      z-index: 999;
      height: 100vh;
      width: 100vw;
      background: @overlay;
      position: absolute;
      .inner { transform: translateX(0); }
    }
    .container { text-align: center; }
    ul {
      float: none;
      display: flex;
      justify-content: space-around;
      li { margin-left: 0; }
    }
  }
  #footer {
    padding-bottom: 10Px;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    .container {
      display: block;
      #logo { display: none; }
      .column .btn-float {
        top: -18px;
        margin-left: 0px;
      }
    }
  }
  #topBlock .vertCenter {
    &.container .above { width: 75%; }
    #coaster {
      margin-right: -40vw;
      width: 70vw;
    }
  }
  #tipsBlock #tabcontent { height: auto; }
  #targetsBlock {
    .container {
      display: block;
      .target { width: auto; }
    }
    .bottom { position: relative; }
  }
  #servicesBlock {
   .flex {
     display: block;
     .item {
       padding: 6%;
       width: ~"calc(100% - 16%)";
     }
   }
  }
  #phasesBlock {
    padding-top: 30px;
    h4 { display: none; }
    #tabcontent {
      .container { margin-top: 10vh;}
      .info {
        width: 100%;
        margin-top: 0px;
      }
    }
  }
  #pricingBlock .container .item { width: 100%; }
  #contactPage #topBlock .container.flex .left { margin-top: 16vh;}
}
