out:  App.css

@p-turk : #38C3DB;
@light-1: #F2F3EF;
@light-2: #EAECE5;
@light-3: #DEE2D5;
@dark: #22264B;

@shadowCard: 0 0 12px 0 rgba(0,0,0,0.09);
@transition: all 0.3s ease-out;

* {
  padding: 0;
  margin: 0;
  font-family: Roboto-regular, sans-serif;
}

a { text-decoration: none; color: @dark; display: block; }

h1 {
  color: #FFF;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4.5vw;
  letter-spacing: 4px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3vw;
  font-weight: normal;
  color: @dark;
  letter-spacing: 2.50px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 35px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: @dark;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  color: @dark;
  text-align: justify;
  line-height: 20px;
}

.accent {
  font-weight: bold;
  font-size: 14px;
  color: @p-turk;
  text-align: center;
  margin-bottom: 10px
}

.hidden { display: none }
.visible { display: block }

.btn {
  padding: 12px 25px;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  transition: @transition;
  width: fit-content;
  border: none;
  display: block;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &.btn-primary {
    background-color: @p-turk;
    color: #FFF;
    background-color: #38C3DB;
    color: #FFF;
    margin: 20px auto 0px auto;
  }
  &.btn-secondary {
    width: fit-content;
    margin: 0 auto;
    .material-icons {
      display: block;
    }
  }
  &.btn-arrow {
    color: #fff;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.block {
  margin: 0;
  min-height: 100vh;
  .container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 6%;
  }
}

#topBlock {
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;
  #logo {
    width: 140px;
    margin-top: 10vh;
    margin-left: ~"calc(50% - 70px)";
  }
  h1 {
    padding-top: 10vh;
  }
  .subtitle {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 4px rgba(0,0,0,0.40);
  }
  .bottom {
    position: absolute;
    left: 50%;
    bottom: 60px;
    .btn {
      position: relative;
      left: -50%;
    }
  }
}

#phasesBlock {
  background-color: @light-1;
  #tabs {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    li {
      position: relative;
      list-style: none;
      width: 25%;
      float: left;
      display: block;
      .number {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        color: @dark;
        text-align: center;
        border-radius: 20px;
        margin: 0 auto -5px auto;
      }
      .illu {
        position: relative;
        z-index: 0;
        background: #FFF;
        border-radius: 2px;
        width: 60px;
        height: 60px;
        transform: rotate(45deg);
        margin-left: ~"calc(50% - 30px)";
        margin-bottom: 25px;
        transition: @transition;
        img {
          position: absolute;
          width: 64px;
          transform: rotate(-45deg);
          margin-left: -32px;
          margin-top: 6px;
          &.color {
            opacity: 0;
            transition: @transition;

            &.active {
              opacity: 1;
            }
          }
        }
      }
      h3 {
        position: relative;
        z-index: 1;
        opacity: 0.5;
        transition: @transition;
      }
      .line {
        border-bottom: dashed 2px #FFF;
        margin-left: ~"calc(-50% + 40px)";
        margin-top: 48px;
        position: absolute;
        width: ~"calc(100% - 60px)";
        opacity: 0.6;
        &:after {
          content: "";
          width: 100%;
          opacity: 1;
        }
      }

      &:hover, &.active {
        h3 { opacity: 1; }
      }
      &.active .arrow {
        width: 30px;
        height: 30px;
        background: #FFF;
        transform: rotate(45deg);
        margin-bottom: -24px;
        margin-left: ~"calc(50% - 15px)";
        box-shadow: @shadowCard;
        margin-top: 15px;
      }
      &.active, &.done {
        .illu { box-shadow: 0 0 15px 0 @light-2; }
        .line {
          border-bottom: solid 2px #FFF;
          opacity: 1;
          box-shadow: 0 0 15px 0 @light-3;
        }
      }
      &:hover, &.active, &.done { .number { color: #FFF; background: @p-turk; } }
      &:hover {
        cursor: pointer;
        .illu { box-shadow: @shadowCard; }
      }

    }
  }
  #tabcontent {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: @shadowCard;
    img { width: 100%; }
    .info {
      position: relative;
      width: 34%;
      margin: -140px auto 0px auto;
      text-align: center;
      min-height: 165px;
    }
  }
}

#contactBlock {
  .contactArrow {
    border-width: 85px 50vw 0 50vw;
    border-style: solid;
    border-color: @light-1 transparent transparent transparent;
  }
  form {
    max-width: 500px;
    margin: 40px auto;
    .formItem {
      &.line {
        border-bottom: 2px solid @light-2;
        margin-bottom: 50px;
      }
      label, .value {
        width: 20%;
        color: @dark;
        font-size: 14px;
      }
      input {
        width: 80%;
        border: none;
        margin-left: 10%;
        line-height: 25px;
        font-size: 14px;
        outline: none;
      }
      textarea {
        margin-top: 4px;
        width: 100%;
        min-height: 70px;
        border: 2px solid @light-2;
      }
      &.radio {
        label { width: 100%; display: block; }
        .radioItem {
          width: 30%;
          margin: 10px 0 20px;
          display: inline-block;
          input {
            margin-left: 0;
            margin-right: 10px;
            appearance: none;
            display: inline-block;
            position: relative;
            background-color: @light-2;
            color: #FFF;
            top: 7px;
            height: 22px;
            width: 22px;
            border: 0;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
            &:checked::before {
              position: absolute;
              font: 13px/1 'Open Sans', sans-serif;
              left: 8px;
              top: 3px;
              content: '\02143';
              transform: rotate(40deg);
            }
            &:hover { background-color: @light-3; }
            &:checked { background-color: @p-turk; }
          }
          .value {
            margin-right: 10%;
          }
        }
      }

    }
  }
}
